.fullheight {
  height: 100vh;
}

.vertical-center {
  justify-content: center;
}

.horizontal-center {
  align-items: center;
}

.address-box {
  width: 100%;
  @media (min-width: 992px) {
    max-width: 70%;
  }
  border: 1px solid rgba(0, 0, 0, 0.1);
  .title-blox {
    border-bottom: 2px solid #000;
    padding: 0 20px;
  }
  .box-content {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.shipping-box {
  width: 100%;
  .title-product {
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    background-color: #ccc;
    margin-bottom: 20px;
  }
  @media (min-width: 992px) {
    max-width: 27%;
    margin: 1%;
  }
  .product {
    img {
      height: 80px !important;
    }
    sub {
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}

.form-box {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @media (min-width: 992px) {
    max-width: 70%;
  }
  .input-field {
    margin: 8px 4px;
    display: flex;
    justify-content: center;
    flex-flow: row;
    width: 48%;
    align-items: stretch;
    span {
      width: 40px;
      height: 40px;
      background-color: #000;
      justify-content: center;
      align-items: center;
      display: flex;
      i {
        color: #fff;
      }
    }
    input,
    select {
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      border-right: 1px solid rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      border-left: 1px solid rgba(0, 0, 0, 0.5);
      width: calc(100% - 50px);
      padding: 10px;
      box-sizing: border-box;
    }
  }
  .actions-box {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 97%;
    button {
      width: 48%;
      margin: 4px;
      padding: 10px;
      background-color: #000;
      border: none;
      color: #fff;
    }
  }
}

.msj {
  padding: 20px;
  box-sizing: border-box;
  border: 1px dashed green;
  width: 80%;
}

.btn-edit {
  padding: 5px 10px;
  background-color: red;
  color: #fff;
  border: none;
  margin: 10px;
}

.subtotales {
  padding: 10px;
  background-color: #ccc;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.totales {
  padding: 10px;
  background-color: #000;
  color: #fff;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
