ul,
ul li {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

.container {
  width: 100%;
  margin: auto;
  @media (min-width: 992px) {
    max-width: 1280px;
  }
}

.row {
  display: flex;
  flex-flow: row;
  gap: 8px;
  &.wrap {
    flex-wrap: wrap;
  }
  .align-center-vertical {
    justify-content: center;
  }
}
